







body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: darkslategrey;
  text-decoration: none;
}

a:hover {
  color:rgb(17, 163, 17);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

/*Appointment Button*/

.appointment-btn {
  margin-left: 25px;
  background: #00be55;
  color: #fff;
  border-radius: 4px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
}

.appointment-btn:hover {
  background:seagreen;
  align-items: center;
  color: #fff;
}

@media (max-width: 768px) {
  .appointment-btn {
    margin: 0 15px 0 0;
    padding: 6px 15px;
  }
}


/* Header */

.logo{
  height: 60px;
  width: 200px;
  padding: 0%;
  }
  
.topnav a:hover, .topnav .active, .topnav li:hover > a {
  color: #00be55;
}

@media (max-width: 992px) {
  .topnav {
    padding: 15px 0;
  }
}

.topnav.header-scrolled {
  top: 0;
}


.topnav {
  overflow: hidden;
  background-color: white;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  text-transform: capitalize;
}

.topnav a:hover {
  background-color:;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}


@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}


/*End of Header*/


/*Footer*/

.Footerlogo{
  width: 100px;
  height:30px;
}

/* Global Parameter */
*{
  margin: 10px;
  padding: 0;
  color:black;
  box-sizing: border-box;
  font-family: sans-serif;
}
.content1{
  position: relative;
  margin: 130px auto;
  text-align: center;
  padding: 0 20px;
}
.content1 .text{
  font-size: 2.5rem;
  font-weight: 600;
  color: black;
}
.content1 .p{
  font-size: 2.1875rem;
  font-weight: 600;
  color: white;
}
/* Middle section of footer */
footer{
  bottom: 0px;
  width: 100%;
  background: white;
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
/* Dash colour*/
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: limegreen;
  top: -10px;
}
.left .content p{
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span
{
  height: 40px;
  width: 40px;
  background: red;
  line-height: 40px;
  text-align: center;
  font-size: 20 px;
  border-radius: 5px;
  transition: 0.5s;
}
.left .content .social a span:hover{
  background: #00be55;
}
.center .content .fas{
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: limegreen;
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}

/* contat us text*/
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: black;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: white;
  padding-left: 10px;
  border: 1px solid : red;
}
.right form input:focus,
.right form textarea:focus{
  outline-color: purple;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background:#00be55;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: rgb(8, 91, 8);
}
.bottom center{
  padding: 5px;
  font-size: 0.9385rem;
  background:#00be55;
}
.bottom center span{
  color:white;
}
.bottom center a{
  color: limegreen;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}
/*end of footer*/
