@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");


@import url('https://fonts.googleapis.com/css?family=Pirata+One|Rubik:900');

/********************UNIVERSAL********************/
 @media screen and (max-width: 460px) {
    li {
        width: 100% !important;
        float:none !important;
    }
}
*{
  box-sizing: border-box;
  margin: 10;
  padding: 10;
  font-family: 'Roboto', sans-serif;
}
.text{
  margin: 24px;
}
/********************TOPBAR********************/



/********************HEADER********************/

.logo {
  display: inline-flexbox;
    cursor: pointer;
    width: 100%;
    height: 70px;
    justify-items: left;
	width:auto;
	height:100px;	

}
ul,li,
a,
button {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: black;
  text-decoration: none;

  
}


header {
   width:100%;
  top: 0px;
  overflow: hidden;
  font-size: 18px;
  display:	flex;
  justify-content: flex-between;
  align-items: left;
  position:fixed;
  z-index:1;
 line-height:100px;	
   padding: 0 30px;
padding-right: auto;
    padding-left: auto;
}

.header a {
  font-size: 20px;
  background-color:white;
}
.navlinks {
  list-style: none;
  background-color: white;
  
}

.navlinks li {
  display: inline-block;
}

.navlinks li a {
  transition: all 0.2s ease 0s;
}

.navlinks li a:hover {
  color: limegreen;
}
/********************END OF HEADER********************/

.injection {
  height: 620px;
  width: 90%;
  margin: auto;
  padding: 10;
  display: flex;
}
.rounded-circle {
  height: 220px;
  width: 90%;
  margin: 50px;
  padding: 10;
  display: block;
}
.container-new {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 48%;
  left: 50%;
   position: absolute;
  bottom: 10px;
  transform: translate(-50%, -50%);
}


h3{
	font-size: 30px;
}
.vaccine {
	
  padding: 15px;
}
.column {
  float: left;
  width: 50%;
  padding: 0 10px;
}
.column1 {
  float: left;
  width: 100%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align:  left;
  background-color: #E8E8E8;
}


h1 {
  text-align: center;
  text-transform: uppercase;
  color: #4CAF50;
}
/*h4{
	color: raven;
	font-size: 60px;	
}*/
h4 {
text-transform: Uppercase;
margin-bottom: .5em;
font-family: 'Rubik', sans-serif;
font-size: 50px;
color: #E4E5E6; }

h4 {	
position: relative;
background: linear-gradient(to right, #24243e, #141E30, #0f0c29);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; }

h2{
	
	margin: 50px;
	color: #4CAF50;
	background-color: lavender;
	border: 1px solid black;
	padding: 10px;	
}
p , li{
text-indent: 50px;
  text-align: justify;
font-size: 20px;
 font-family: "Times New Roman", Times, serif;
 color: raven;
 
}
img {
  max-width: 100%;
  height: auto;
}

.
/***************************Button****************************/
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #32CD32;
  border: none;
  color: aqua;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
		}
a.button,
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	height: 50px;
	width: 20%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #98FB98), color-stop(1, #32CD32));
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
/*************************FAQ's****************/
summary:hover{
  background-color: lightgreen;
} 

details {
  margin: 20px;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .75em .75em 0;
}

summary {
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
    font-weight: bold;
    margin: -.75em -.75em 0;
    padding: .75em;
    color: black;
}

details[open] {
    padding: .75em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .75em;
}
/***************************footer****************************/

.Footerlogo{
  width: 180px;
  height:70px;
  display:inline-flexbox;
  cursor: pointer;
}
.content1{
  position: relative;
  margin: 130px auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding: 0 20px;
}
.content1 .text{
  font-size: 2.5rem;
  font-family:Roboto;
  font-weight: 600;
  color: black;
}
.content1 .p{
  font-size: 2.1875rem;
  font-weight: 600;
  color: white;
}

/************************* Middle section of footer******************************* */
footer{
  bottom: 0px;
  width: 100%;
  background: white;
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}


.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}


/************************* Dash colour*************************/

.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: limegreen;
  top: -10px;
}
.left .content p{
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span
{
  height: 40px;
  width: 40px;
  background: red;
  line-height: 40px;
  text-align: center;
  font-size: 20 px;
  border-radius: 5px;
  transition: 0.5s;
}
.left .content .social a span:hover{
  background: #00be55;
}
.center .content .fas{
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: limegreen;
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}

/* contat us text*/


.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: black;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: white;
  padding-left: 10px;
  border: 1px solid aquamarine;
}

.right form textarea:focus{
  outline-color:mediumseagreen;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 150%;
  border: none;
  outline: none;
  background : rgb(23, 127, 23);
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: lightgreen;
}
.bottom center{
  padding: 5px;
  font-size: 0.9385rem;
  background: #00be55;
}
.bottom center {
  color:white;
}
.bottom center a{
  color:#00be55;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}
a:hover {
  color:rgb(17, 163, 17);
  text-decoration: none;
}
/*end of footer*/
